@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
@layer base {
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    @apply w-full rounded-lg border-2 border-gray-200 px-4 py-3
           focus:border-blue-500 focus:ring-4 focus:ring-blue-100
           focus:outline-none transition-all duration-200;
  }

  button[type="submit"] {
    @apply w-full rounded bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-700;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight text-black sm:text-5xl;
  }

  h3 {
    @apply text-2xl font-bold tracking-tight text-black sm:text-3xl;
  }
}
